@import './variables';
@import './mixins';

.about-section {
    @include themed() {
        background-color: t("secondary-bg-color");
        color: t("main-text-color");
    }
    @include flexCenter(column);
    padding-top: 30vh;


    .title-container {
        @include themed() {
            color: t("secondary-text-color");
        }
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 4vh;
    
    }

    .about-container {
        @include flexCenter(row);
        padding-top: 5vh;
        gap: 10vw;
        .about {
            @include flexCenter(column);
            width: 30vw;
            gap: 4vh;
            span {
                word-wrap: normal;
                line-height: 1.5rem;
            }
        }
    
        .headshot {
            width: 200px;
            border-radius: 50%;
        }
    
        .socials-container{
            @include themed() {
                background-color: t("third-bg-color");
            }
            margin-top: 20px;
            @include flexCenter(row);
            gap: 15px;
            border-radius: 8px;
            width: fit-content;
            padding: 5px 20px;
            img {
                cursor: pointer;
                opacity: 80%;
                filter: invert(100%);
                width: 30px;
                transition: 0.5s ease;
                z-index: 0;
            }
    
            img:hover {
                opacity: 100%;
            }
        }
    }
    
    
        .tech-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 2vw;
        
        img {
            width: 80px;
        }
    }

    a {
        @include themed() {
            color: t("secondary-text-color");
        }
        text-decoration: none;

    }
}

