@import './variables';
@import './mixins';

.contact-section {
    @include themed() {
        color: t("secondary-text-color");
        background-color: t("secondary-bg-color");
    }
    @include flexCenter(column);
    padding-top: 20vh;
    padding-bottom: 25vh;

    .contact-container {
        width: 60vw;
        padding-top: 5vh;

        .contact-form {
            display: flex;
            justify-content: center;
            margin-top: 10vh;
            
            .inputs {
                display: flex;
                flex-direction: column;
                width: 30vw;
                gap: 10px;

                input {
                    @include themed() {
                        background-color: t("fourth-bg-color");
                        color: t("main-text-color");
                    }
                    border: 1px solid black;
                    height: 2rem;
                    font-family: inherit;
                    padding-left: 5px;
                    font-size: 1rem;
                }

                textarea {
                    @include themed() {
                        background-color: t("fourth-bg-color");
                        color: t("main-text-color");
                    }
                    border: 1px solid black;
                    resize: none;
                    font-family: inherit;
                    height: 8rem;
                    padding: 5px;
                    font-size: 1rem;
                }
            }

            @include button();
        }

        .title-container {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;
            h1 {
                margin: 0;
            }
        }
    }

    @media (max-width: 961px) {
        .contact-container {
            width: 80vw;

            .contact-form {

                .inputs {
                    width: 40vw;
                }
            }

        }
    }

    @media (max-width: 645px) {
        .contact-container {
            width: 80vw;

            .contact-form {

                .inputs {
                    width: 50vw;
                }
            }

        }
    }

    
}