@import './variables';
@import './mixins';


.header-container {
    

    @include flexCenter(column);
    @include themed() {
        background-color: t("bg-color");
        color: t("main-text-color");
    }
    height: 100vh;
    
    

    h1 {        
        font-size: 4em;
        font-weight: 400;
        letter-spacing: .3rem;
        margin: 0;
        display: flex;
    }

  
    .hi {
        @include themed() {
            color: t("secondary-text-color");
        }
       
        // transition: translate(0, 1rem);
        // transition: 1s ease-in;   
        animation: fadeInAnimation ease-out 2s;
        animation-iteration-count: 1;
        transition: all .3s ease-out;
        display: inline-block;
     
    }

    .hi:hover {
        transform: translate(0, -1rem);
    }

    h2 {
        @include themed() {
            color: t("third-text-color");
        }
        opacity: 0;
        text-transform: uppercase;
        font-size: .8em;
        letter-spacing: .1rem;
        animation: dropDownAnimation ease-out 1s;
        animation-iteration-count: 1;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        
    }

    .name-text {
      
        span {
            transition: all .3s ease-out;
            display: inline-block;
        }
        span:hover {
            transform: translate(0, -1rem);
        }
        opacity: 0;
        transform: translate(0, 10rem);
        animation: fadeInAnimationSpan ease-out 2s;
        animation-iteration-count: 1;
        animation-delay: 2s;
        animation-fill-mode: forwards;

    
        // animation: bounce 1s infinite;
        // animation-play-state: paused;
    }
    
    

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            transform: translate(0, 10rem);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
         }
    }

    @keyframes fadeInAnimationSpan {
        0% {
            opacity: 0;
            transform: translate(0, 5rem);
          
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
         }
    }

    @keyframes dropDownAnimation {
        0% {
            opacity: 0;
            transform: translate(0, -2rem);
        }

        100% {
            opacity: 1;
            transform: translate(0,0);
        }
    }

    @media (max-width: 645px) {
        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: .7em;
        }
    }
    @media (max-width: 470px) {
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: .5em;
        }
    }
}

