@import './variables';
@import './mixins';

.nav-container {
    @include themed() {
        color: t("third-text-color");
        background-color: t("bg-color");
    }
    z-index: 1;
    background-color: $bg-color;
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0 5vw;
    height: 5vh;
    position: sticky;
    top: 0px;

    .route-container {
        @include flexCenter(row);
        gap: 2vw;
    }

    h3 {
        cursor: pointer;
        margin: 0;
        transition: 0.5s ease;
    }

    h3:hover {
        @include themed() {
            color: t("main-text-color");
            background-color: t("bg-color");
        }
    }

    @media (max-width: 645px) {
        h3 {
            font-size: 1em;
        }

        
    }

    @media (max-width: 500px) {
        h3 {
            font-size: .8em;
        }
    }

    @media (max-width: 410px) {
        h3 {
            font-size: .7em;
        }

        .nav-title {
            text-indent:-9999px;
        }
        .nav-title:before {
            text-indent: 0;
            content: "Gaute";
            float: left;
        }
    
    }
}