@import './variables';
@import './mixins';

.nav-container {
    @include themed() {
        color: t("third-text-color");
        background-color: t("bg-color");
    }
    z-index: 1;
    background-color: $bg-color;
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0 5vw;
    height: 5vh;
    position: sticky;
    top: 0px;

    .route-container {
        @include flexCenter(row);
        gap: 2vw;
    }

    h3 {
        cursor: pointer;
        margin: 0;
        transition: 0.5s ease;
    }

    h3:hover {
        @include themed() {
            color: t("main-text-color");
            background-color: t("bg-color");
        }
    }
}