@import './variables';
@import './mixins';

.projects-section {
    @include themed() {
        color: t("main-text-color");
        background-color: t("secondary-bg-color");
    }
    @include flexCenter(column);
    padding-top: 30vh;
    
    
    .projects-container {
        width: 60vw;
        padding-top: 5vh;
        .title-container {
          
            display: flex;
            justify-content: flex-end;
            margin-bottom: 4vh;
            h1 {
                margin: 0;
                @include themed() {
                    color: t("secondary-text-color");
                }
            
            }
        }
        
        .project {
            display: flex;
            padding-bottom: 15vh;
            justify-content: space-between;
            
            .info-section {
                @include flexCenter(column);
                align-items: flex-start;
                width: 20vw;
                // padding-right: 10vw;

                h2 {
                    @include themed() {
                        color: t("third-text-color");
                        background-color: t("secondary-bg-color");
                    }
                }

                .btn-container {
                        display: flex;
                        gap: 10px;
                        margin-top: 20px;
                        @include button();
                    
                }
            }
            
            img {
                height: 15vw;
            }

            .right {
                padding-right: 0;
                // padding-left: 10vw;
                
                align-items: flex-end;
                text-align: end;
            }
    } 

    
    }
}