// Light theme colors
$bg-color: rgb(226, 226, 226);
$secondary-bg-color: rgb(248, 248, 248);
$third-bg-color: rgb(63, 63, 63);
$fourth-bg-color: white;

$main-text-color: rgb(31, 31, 31);
$secondary-text-color: rgb(60, 126, 250);
$third-text-color: rgb(78, 78, 78);

//dark theme colors
$bg-color-dark: rgb(27, 27, 27);
$secondary-bg-color-dark: rgb(43, 43, 43);
$third-bg-color-dark: rgb(0, 0, 0);
$fourth-bg-color-dark: rgb(17, 17, 17);

$main-text-color-dark: rgb(231, 231, 231);
$secondary-text-color-dark: rgb(250, 82, 60);
$third-text-color-dark: rgb(194, 194, 194);